src/main/resources/wsdl/FCUBSDEService_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8.--><!--Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8.--><definitions targetNamespace="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com" name="FCUBSDEService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://fcubs.ofss.com/service/FCUBSDEService" schemaLocation="FCUBSDEService.xsd"/>
    </xsd:schema>
  </types>
  <message name="AuthorizeSingleJrnlFS">
    <part name="RequestMsg" element="ns1:AUTHORIZESINGLEJRNL_FSFS_REQ" xmlns:ns1="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeSingleJrnlFSResponse">
    <part name="ResponseMsg" element="ns2:AUTHORIZESINGLEJRNL_FSFS_RES" xmlns:ns2="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeSingleJrnlIO">
    <part name="RequestMsg" element="ns3:AUTHORIZESINGLEJRNL_IOPK_REQ" xmlns:ns3="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeSingleJrnlIOResponse">
    <part name="ResponseMsg" element="ns4:AUTHORIZESINGLEJRNL_IOPK_RES" xmlns:ns4="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeTellerFS">
    <part name="RequestMsg" element="ns5:AUTHORIZETELLER_FSFS_REQ" xmlns:ns5="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeTellerFSResponse">
    <part name="ResponseMsg" element="ns6:AUTHORIZETELLER_FSFS_RES" xmlns:ns6="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeTellerIO">
    <part name="RequestMsg" element="ns7:AUTHORIZETELLER_IOPK_REQ" xmlns:ns7="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeTellerIOResponse">
    <part name="ResponseMsg" element="ns8:AUTHORIZETELLER_IOPK_RES" xmlns:ns8="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CloseDEBranchRestFS">
    <part name="RequestMsg" element="ns9:CLOSEDEBRANCHREST_FSFS_REQ" xmlns:ns9="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CloseDEBranchRestFSResponse">
    <part name="ResponseMsg" element="ns10:CLOSEDEBRANCHREST_FSFS_RES" xmlns:ns10="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CloseDEBranchRestIO">
    <part name="RequestMsg" element="ns11:CLOSEDEBRANCHREST_IOPK_REQ" xmlns:ns11="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CloseDEBranchRestIOResponse">
    <part name="ResponseMsg" element="ns12:CLOSEDEBRANCHREST_IOPK_RES" xmlns:ns12="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CloseMjrnlTemplateFS">
    <part name="RequestMsg" element="ns13:CLOSEMJRNLTEMPLATE_FSFS_REQ" xmlns:ns13="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CloseMjrnlTemplateFSResponse">
    <part name="ResponseMsg" element="ns14:CLOSEMJRNLTEMPLATE_FSFS_RES" xmlns:ns14="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CloseMjrnlTemplateIO">
    <part name="RequestMsg" element="ns15:CLOSEMJRNLTEMPLATE_IOPK_REQ" xmlns:ns15="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CloseMjrnlTemplateIOResponse">
    <part name="ResponseMsg" element="ns16:CLOSEMJRNLTEMPLATE_IOPK_RES" xmlns:ns16="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateDEBranchRestFS">
    <part name="RequestMsg" element="ns17:CREATEDEBRANCHREST_FSFS_REQ" xmlns:ns17="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateDEBranchRestFSResponse">
    <part name="ResponseMsg" element="ns18:CREATEDEBRANCHREST_FSFS_RES" xmlns:ns18="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateDEBranchRestIO">
    <part name="RequestMsg" element="ns19:CREATEDEBRANCHREST_IOPK_REQ" xmlns:ns19="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateDEBranchRestIOResponse">
    <part name="ResponseMsg" element="ns20:CREATEDEBRANCHREST_IOPK_RES" xmlns:ns20="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateDEMultiOffsetFS">
    <part name="RequestMsg" element="ns21:CREATEDEMULTIOFFSET_FSFS_REQ" xmlns:ns21="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateDEMultiOffsetFSResponse">
    <part name="ResponseMsg" element="ns22:CREATEDEMULTIOFFSET_FSFS_RES" xmlns:ns22="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateDEMultiOffsetIO">
    <part name="RequestMsg" element="ns23:CREATEDEMULTIOFFSET_IOPK_REQ" xmlns:ns23="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateDEMultiOffsetIOResponse">
    <part name="ResponseMsg" element="ns24:CREATEDEMULTIOFFSET_IOPK_RES" xmlns:ns24="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateMjrnlTemplateFS">
    <part name="RequestMsg" element="ns25:CREATEMJRNLTEMPLATE_FSFS_REQ" xmlns:ns25="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateMjrnlTemplateFSResponse">
    <part name="ResponseMsg" element="ns26:CREATEMJRNLTEMPLATE_FSFS_RES" xmlns:ns26="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateMjrnlTemplateIO">
    <part name="RequestMsg" element="ns27:CREATEMJRNLTEMPLATE_IOPK_REQ" xmlns:ns27="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateMjrnlTemplateIOResponse">
    <part name="ResponseMsg" element="ns28:CREATEMJRNLTEMPLATE_IOPK_RES" xmlns:ns28="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateMjrnlbookFS">
    <part name="RequestMsg" element="ns29:CREATEMJRNLBOOK_FSFS_REQ" xmlns:ns29="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateMjrnlbookFSResponse">
    <part name="ResponseMsg" element="ns30:CREATEMJRNLBOOK_FSFS_RES" xmlns:ns30="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateMjrnlbookIO">
    <part name="RequestMsg" element="ns31:CREATEMJRNLBOOK_IOPK_REQ" xmlns:ns31="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateMjrnlbookIOResponse">
    <part name="ResponseMsg" element="ns32:CREATEMJRNLBOOK_IOPK_RES" xmlns:ns32="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateSingleJrnlFS">
    <part name="RequestMsg" element="ns33:CREATESINGLEJRNL_FSFS_REQ" xmlns:ns33="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateSingleJrnlFSResponse">
    <part name="ResponseMsg" element="ns34:CREATESINGLEJRNL_FSFS_RES" xmlns:ns34="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeDEBatchBrowserFS">
    <part name="RequestMsg" element="ns35:AUTHORIZEDEBATCHBROWSER_FSFS_REQ" xmlns:ns35="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeDEBatchBrowserFSResponse">
    <part name="ResponseMsg" element="ns36:AUTHORIZEDEBATCHBROWSER_FSFS_RES" xmlns:ns36="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeDEBatchBrowserIO">
    <part name="RequestMsg" element="ns37:AUTHORIZEDEBATCHBROWSER_IOPK_REQ" xmlns:ns37="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeDEBatchBrowserIOResponse">
    <part name="ResponseMsg" element="ns38:AUTHORIZEDEBATCHBROWSER_IOPK_RES" xmlns:ns38="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeDEBranchRestFS">
    <part name="RequestMsg" element="ns39:AUTHORIZEDEBRANCHREST_FSFS_REQ" xmlns:ns39="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeDEBranchRestFSResponse">
    <part name="ResponseMsg" element="ns40:AUTHORIZEDEBRANCHREST_FSFS_RES" xmlns:ns40="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeDEBranchRestIO">
    <part name="RequestMsg" element="ns41:AUTHORIZEDEBRANCHREST_IOPK_REQ" xmlns:ns41="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeDEBranchRestIOResponse">
    <part name="ResponseMsg" element="ns42:AUTHORIZEDEBRANCHREST_IOPK_RES" xmlns:ns42="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeDEMultiOffsetFS">
    <part name="RequestMsg" element="ns43:AUTHORIZEDEMULTIOFFSET_FSFS_REQ" xmlns:ns43="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeDEMultiOffsetFSResponse">
    <part name="ResponseMsg" element="ns44:AUTHORIZEDEMULTIOFFSET_FSFS_RES" xmlns:ns44="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeDEMultiOffsetIO">
    <part name="RequestMsg" element="ns45:AUTHORIZEDEMULTIOFFSET_IOPK_REQ" xmlns:ns45="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeDEMultiOffsetIOResponse">
    <part name="ResponseMsg" element="ns46:AUTHORIZEDEMULTIOFFSET_IOPK_RES" xmlns:ns46="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeMjrnlTemplateFS">
    <part name="RequestMsg" element="ns47:AUTHORIZEMJRNLTEMPLATE_FSFS_REQ" xmlns:ns47="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeMjrnlTemplateFSResponse">
    <part name="ResponseMsg" element="ns48:AUTHORIZEMJRNLTEMPLATE_FSFS_RES" xmlns:ns48="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeMjrnlTemplateIO">
    <part name="RequestMsg" element="ns49:AUTHORIZEMJRNLTEMPLATE_IOPK_REQ" xmlns:ns49="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeMjrnlTemplateIOResponse">
    <part name="ResponseMsg" element="ns50:AUTHORIZEMJRNLTEMPLATE_IOPK_RES" xmlns:ns50="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeMjrnlbookFS">
    <part name="RequestMsg" element="ns51:AUTHORIZEMJRNLBOOK_FSFS_REQ" xmlns:ns51="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeMjrnlbookFSResponse">
    <part name="ResponseMsg" element="ns52:AUTHORIZEMJRNLBOOK_FSFS_RES" xmlns:ns52="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeMjrnlbookIO">
    <part name="RequestMsg" element="ns53:AUTHORIZEMJRNLBOOK_IOPK_REQ" xmlns:ns53="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="AuthorizeMjrnlbookIOResponse">
    <part name="ResponseMsg" element="ns54:AUTHORIZEMJRNLBOOK_IOPK_RES" xmlns:ns54="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="MultiNewFS">
    <part name="RequestMsg" element="ns55:MULTINEW_FSFS_REQ" xmlns:ns55="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="MultiNewFSResponse">
    <part name="ResponseMsg" element="ns56:MULTINEW_FSFS_RES" xmlns:ns56="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="MultiAuthorizeFS">
    <part name="RequestMsg" element="ns57:MULTIAUTHORIZE_FSFS_REQ" xmlns:ns57="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="MultiAuthorizeFSResponse">
    <part name="ResponseMsg" element="ns58:MULTIAUTHORIZE_FSFS_RES" xmlns:ns58="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="MultiDeleteFS">
    <part name="RequestMsg" element="ns59:MULTIDELETE_FSFS_REQ" xmlns:ns59="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="MultiDeleteFSResponse">
    <part name="ResponseMsg" element="ns60:MULTIDELETE_FSFS_RES" xmlns:ns60="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteTellerIO">
    <part name="RequestMsg" element="ns61:DELETETELLER_IOPK_REQ" xmlns:ns61="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteTellerIOResponse">
    <part name="ResponseMsg" element="ns62:DELETETELLER_IOPK_RES" xmlns:ns62="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="MultiAuthorizeIO">
    <part name="RequestMsg" element="ns63:MULTIAUTHORIZE_IOPK_REQ" xmlns:ns63="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="MultiAuthorizeIOResponse">
    <part name="ResponseMsg" element="ns64:MULTIAUTHORIZE_IOPK_RES" xmlns:ns64="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="MultiDeleteIO">
    <part name="RequestMsg" element="ns65:MULTIDELETE_IOPK_REQ" xmlns:ns65="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="MultiDeleteIOResponse">
    <part name="ResponseMsg" element="ns66:MULTIDELETE_IOPK_RES" xmlns:ns66="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateTellerFS">
    <part name="RequestMsg" element="ns67:CREATETELLER_FSFS_REQ" xmlns:ns67="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateTellerFSResponse">
    <part name="ResponseMsg" element="ns68:CREATETELLER_FSFS_RES" xmlns:ns68="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteTellerFS">
    <part name="RequestMsg" element="ns69:DELETETELLER_FSFS_REQ" xmlns:ns69="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteTellerFSResponse">
    <part name="ResponseMsg" element="ns70:DELETETELLER_FSFS_RES" xmlns:ns70="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="BatchTotDeleteIO">
    <part name="RequestMsg" element="ns71:BATCHTOTDELETE_IOPK_REQ" xmlns:ns71="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="BatchTotDeleteIOResponse">
    <part name="ResponseMsg" element="ns72:BATCHTOTDELETE_IOPK_RES" xmlns:ns72="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="BatchAuthorizeIO">
    <part name="RequestMsg" element="ns73:BATCHAUTHORIZE_IOPK_REQ" xmlns:ns73="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="BatchAuthorizeIOResponse">
    <part name="ResponseMsg" element="ns74:BATCHAUTHORIZE_IOPK_RES" xmlns:ns74="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateTellerIO">
    <part name="RequestMsg" element="ns75:CREATETELLER_IOPK_REQ" xmlns:ns75="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateTellerIOResponse">
    <part name="ResponseMsg" element="ns76:CREATETELLER_IOPK_RES" xmlns:ns76="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="QuerySingleJrnlIO">
    <part name="RequestMsg" element="ns77:QUERYSINGLEJRNL_IOFS_REQ" xmlns:ns77="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="QuerySingleJrnlIOResponse">
    <part name="ResponseMsg" element="ns78:QUERYSINGLEJRNL_IOFS_RES" xmlns:ns78="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="QueryTellerIO">
    <part name="RequestMsg" element="ns79:QUERYTELLER_IOFS_REQ" xmlns:ns79="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="QueryTellerIOResponse">
    <part name="ResponseMsg" element="ns80:QUERYTELLER_IOFS_RES" xmlns:ns80="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ReopenDEBranchRestFS">
    <part name="RequestMsg" element="ns81:REOPENDEBRANCHREST_FSFS_REQ" xmlns:ns81="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ReopenDEBranchRestFSResponse">
    <part name="ResponseMsg" element="ns82:REOPENDEBRANCHREST_FSFS_RES" xmlns:ns82="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ReopenDEBranchRestIO">
    <part name="RequestMsg" element="ns83:REOPENDEBRANCHREST_IOPK_REQ" xmlns:ns83="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ReopenDEBranchRestIOResponse">
    <part name="ResponseMsg" element="ns84:REOPENDEBRANCHREST_IOPK_RES" xmlns:ns84="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ReverseCommonReversalFS">
    <part name="RequestMsg" element="ns85:REVERSECOMMONREVERSAL_FSFS_REQ" xmlns:ns85="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ReverseCommonReversalFSResponse">
    <part name="ResponseMsg" element="ns86:REVERSECOMMONREVERSAL_FSFS_RES" xmlns:ns86="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ReverseCommonReversalIO">
    <part name="RequestMsg" element="ns87:REVERSECOMMONREVERSAL_IOPK_REQ" xmlns:ns87="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ReverseCommonReversalIOResponse">
    <part name="ResponseMsg" element="ns88:REVERSECOMMONREVERSAL_IOPK_RES" xmlns:ns88="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ReverseTellerFS">
    <part name="RequestMsg" element="ns89:REVERSETELLER_FSFS_REQ" xmlns:ns89="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ReverseTellerFSResponse">
    <part name="ResponseMsg" element="ns90:REVERSETELLER_FSFS_RES" xmlns:ns90="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ReverseTellerIO">
    <part name="RequestMsg" element="ns91:REVERSETELLER_IOPK_REQ" xmlns:ns91="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ReverseTellerIOResponse">
    <part name="ResponseMsg" element="ns92:REVERSETELLER_IOPK_RES" xmlns:ns92="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="SingleAuthorizeFS">
    <part name="RequestMsg" element="ns93:SINGLEAUTHORIZE_FSFS_REQ" xmlns:ns93="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="SingleAuthorizeFSResponse">
    <part name="ResponseMsg" element="ns94:SINGLEAUTHORIZE_FSFS_RES" xmlns:ns94="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="SingleAuthorizeIO">
    <part name="RequestMsg" element="ns95:SINGLEAUTHORIZE_IOPK_REQ" xmlns:ns95="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="SingleAuthorizeIOResponse">
    <part name="ResponseMsg" element="ns96:SINGLEAUTHORIZE_IOPK_RES" xmlns:ns96="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="SingleDeleteFS">
    <part name="RequestMsg" element="ns97:SINGLEDELETE_FSFS_REQ" xmlns:ns97="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="SingleDeleteFSResponse">
    <part name="ResponseMsg" element="ns98:SINGLEDELETE_FSFS_RES" xmlns:ns98="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="SingleDeleteIO">
    <part name="RequestMsg" element="ns99:SINGLEDELETE_IOPK_REQ" xmlns:ns99="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="SingleDeleteIOResponse">
    <part name="ResponseMsg" element="ns100:SINGLEDELETE_IOPK_RES" xmlns:ns100="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="SingleNewFS">
    <part name="RequestMsg" element="ns101:SINGLENEW_FSFS_REQ" xmlns:ns101="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="SingleNewFSResponse">
    <part name="ResponseMsg" element="ns102:SINGLENEW_FSFS_RES" xmlns:ns102="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="SingleNewIO">
    <part name="RequestMsg" element="ns103:SINGLENEW_IOPK_REQ" xmlns:ns103="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="SingleNewIOResponse">
    <part name="ResponseMsg" element="ns104:SINGLENEW_IOPK_RES" xmlns:ns104="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateSingleJrnlIO">
    <part name="RequestMsg" element="ns105:CREATESINGLEJRNL_IOPK_REQ" xmlns:ns105="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="CreateSingleJrnlIOResponse">
    <part name="ResponseMsg" element="ns106:CREATESINGLEJRNL_IOPK_RES" xmlns:ns106="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteDEBatchBrowserFS">
    <part name="RequestMsg" element="ns107:DELETEDEBATCHBROWSER_FSFS_REQ" xmlns:ns107="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteDEBatchBrowserFSResponse">
    <part name="ResponseMsg" element="ns108:DELETEDEBATCHBROWSER_FSFS_RES" xmlns:ns108="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteDEBatchBrowserIO">
    <part name="RequestMsg" element="ns109:DELETEDEBATCHBROWSER_IOPK_REQ" xmlns:ns109="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteDEBatchBrowserIOResponse">
    <part name="ResponseMsg" element="ns110:DELETEDEBATCHBROWSER_IOPK_RES" xmlns:ns110="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteDEBranchRestFS">
    <part name="RequestMsg" element="ns111:DELETEDEBRANCHREST_FSFS_REQ" xmlns:ns111="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteDEBranchRestFSResponse">
    <part name="ResponseMsg" element="ns112:DELETEDEBRANCHREST_FSFS_RES" xmlns:ns112="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteDEBranchRestIO">
    <part name="RequestMsg" element="ns113:DELETEDEBRANCHREST_IOPK_REQ" xmlns:ns113="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteDEBranchRestIOResponse">
    <part name="ResponseMsg" element="ns114:DELETEDEBRANCHREST_IOPK_RES" xmlns:ns114="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteDEMultiOffsetFS">
    <part name="RequestMsg" element="ns115:DELETEDEMULTIOFFSET_FSFS_REQ" xmlns:ns115="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteDEMultiOffsetFSResponse">
    <part name="ResponseMsg" element="ns116:DELETEDEMULTIOFFSET_FSFS_RES" xmlns:ns116="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteDEMultiOffsetIO">
    <part name="RequestMsg" element="ns117:DELETEDEMULTIOFFSET_IOPK_REQ" xmlns:ns117="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteDEMultiOffsetIOResponse">
    <part name="ResponseMsg" element="ns118:DELETEDEMULTIOFFSET_IOPK_RES" xmlns:ns118="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteMjrnlTemplateFS">
    <part name="RequestMsg" element="ns119:DELETEMJRNLTEMPLATE_FSFS_REQ" xmlns:ns119="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteMjrnlTemplateFSResponse">
    <part name="ResponseMsg" element="ns120:DELETEMJRNLTEMPLATE_FSFS_RES" xmlns:ns120="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteMjrnlTemplateIO">
    <part name="RequestMsg" element="ns121:DELETEMJRNLTEMPLATE_IOPK_REQ" xmlns:ns121="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteMjrnlTemplateIOResponse">
    <part name="ResponseMsg" element="ns122:DELETEMJRNLTEMPLATE_IOPK_RES" xmlns:ns122="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteMjrnlbookFS">
    <part name="RequestMsg" element="ns123:DELETEMJRNLBOOK_FSFS_REQ" xmlns:ns123="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteMjrnlbookFSResponse">
    <part name="ResponseMsg" element="ns124:DELETEMJRNLBOOK_FSFS_RES" xmlns:ns124="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteMjrnlbookIO">
    <part name="RequestMsg" element="ns125:DELETEMJRNLBOOK_IOPK_REQ" xmlns:ns125="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteMjrnlbookIOResponse">
    <part name="ResponseMsg" element="ns126:DELETEMJRNLBOOK_IOPK_RES" xmlns:ns126="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteSingleJrnlFS">
    <part name="RequestMsg" element="ns127:DELETESINGLEJRNL_FSFS_REQ" xmlns:ns127="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteSingleJrnlFSResponse">
    <part name="ResponseMsg" element="ns128:DELETESINGLEJRNL_FSFS_RES" xmlns:ns128="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteSingleJrnlIO">
    <part name="RequestMsg" element="ns129:DELETESINGLEJRNL_IOPK_REQ" xmlns:ns129="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="DeleteSingleJrnlIOResponse">
    <part name="ResponseMsg" element="ns130:DELETESINGLEJRNL_IOPK_RES" xmlns:ns130="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ModifyDEBranchRestFS">
    <part name="RequestMsg" element="ns131:MODIFYDEBRANCHREST_FSFS_REQ" xmlns:ns131="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ModifyDEBranchRestFSResponse">
    <part name="ResponseMsg" element="ns132:MODIFYDEBRANCHREST_FSFS_RES" xmlns:ns132="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ModifyDEBranchRestIO">
    <part name="RequestMsg" element="ns133:MODIFYDEBRANCHREST_IOPK_REQ" xmlns:ns133="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ModifyDEBranchRestIOResponse">
    <part name="ResponseMsg" element="ns134:MODIFYDEBRANCHREST_IOPK_RES" xmlns:ns134="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ModifyMjrnlTemplateFS">
    <part name="RequestMsg" element="ns135:MODIFYMJRNLTEMPLATE_FSFS_REQ" xmlns:ns135="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ModifyMjrnlTemplateFSResponse">
    <part name="ResponseMsg" element="ns136:MODIFYMJRNLTEMPLATE_FSFS_RES" xmlns:ns136="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ModifyMjrnlTemplateIO">
    <part name="RequestMsg" element="ns137:MODIFYMJRNLTEMPLATE_IOPK_REQ" xmlns:ns137="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ModifyMjrnlTemplateIOResponse">
    <part name="ResponseMsg" element="ns138:MODIFYMJRNLTEMPLATE_IOPK_RES" xmlns:ns138="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ModifyMjrnlbookFS">
    <part name="RequestMsg" element="ns139:MODIFYMJRNLBOOK_FSFS_REQ" xmlns:ns139="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ModifyMjrnlbookFSResponse">
    <part name="ResponseMsg" element="ns140:MODIFYMJRNLBOOK_FSFS_RES" xmlns:ns140="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ModifyMjrnlbookIO">
    <part name="RequestMsg" element="ns141:MODIFYMJRNLBOOK_IOPK_REQ" xmlns:ns141="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="ModifyMjrnlbookIOResponse">
    <part name="ResponseMsg" element="ns142:MODIFYMJRNLBOOK_IOPK_RES" xmlns:ns142="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="MultiNewIO">
    <part name="RequestMsg" element="ns143:MULTINEW_IOPK_REQ" xmlns:ns143="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="MultiNewIOResponse">
    <part name="ResponseMsg" element="ns144:MULTINEW_IOPK_RES" xmlns:ns144="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="QueryDEBatchBrowserIO">
    <part name="RequestMsg" element="ns145:QUERYDEBATCHBROWSER_IOFS_REQ" xmlns:ns145="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="QueryDEBatchBrowserIOResponse">
    <part name="ResponseMsg" element="ns146:QUERYDEBATCHBROWSER_IOFS_RES" xmlns:ns146="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="QueryDEBranchRestIO">
    <part name="RequestMsg" element="ns147:QUERYDEBRANCHREST_IOFS_REQ" xmlns:ns147="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="QueryDEBranchRestIOResponse">
    <part name="ResponseMsg" element="ns148:QUERYDEBRANCHREST_IOFS_RES" xmlns:ns148="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="QueryDEMultiOffsetIO">
    <part name="RequestMsg" element="ns149:QUERYDEMULTIOFFSET_IOFS_REQ" xmlns:ns149="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="QueryDEMultiOffsetIOResponse">
    <part name="ResponseMsg" element="ns150:QUERYDEMULTIOFFSET_IOFS_RES" xmlns:ns150="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="QueryMjrnlTemplateIO">
    <part name="RequestMsg" element="ns151:QUERYMJRNLTEMPLATE_IOFS_REQ" xmlns:ns151="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="QueryMjrnlTemplateIOResponse">
    <part name="ResponseMsg" element="ns152:QUERYMJRNLTEMPLATE_IOFS_RES" xmlns:ns152="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="QueryMjrnlbookIO">
    <part name="RequestMsg" element="ns153:QUERYMJRNLBOOK_IOFS_REQ" xmlns:ns153="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="QueryMjrnlbookIOResponse">
    <part name="ResponseMsg" element="ns154:QUERYMJRNLBOOK_IOFS_RES" xmlns:ns154="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="BatchAuthorizeFS">
    <part name="RequestMsg" element="ns155:BATCHAUTHORIZE_FSFS_REQ" xmlns:ns155="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="BatchAuthorizeFSResponse">
    <part name="ResponseMsg" element="ns156:BATCHAUTHORIZE_FSFS_RES" xmlns:ns156="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="BatchTotDeleteFS">
    <part name="RequestMsg" element="ns157:BATCHTOTDELETE_FSFS_REQ" xmlns:ns157="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <message name="BatchTotDeleteFSResponse">
    <part name="ResponseMsg" element="ns158:BATCHTOTDELETE_FSFS_RES" xmlns:ns158="http://fcubs.ofss.com/service/FCUBSDEService"/>
  </message>
  <portType name="FCUBSDEServiceSEI">
    <operation name="AuthorizeSingleJrnlFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeSingleJrnlFSRequest" message="tns:AuthorizeSingleJrnlFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeSingleJrnlFSResponse" message="tns:AuthorizeSingleJrnlFSResponse"/>
    </operation>
    <operation name="AuthorizeSingleJrnlIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeSingleJrnlIORequest" message="tns:AuthorizeSingleJrnlIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeSingleJrnlIOResponse" message="tns:AuthorizeSingleJrnlIOResponse"/>
    </operation>
    <operation name="AuthorizeTellerFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeTellerFSRequest" message="tns:AuthorizeTellerFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeTellerFSResponse" message="tns:AuthorizeTellerFSResponse"/>
    </operation>
    <operation name="AuthorizeTellerIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeTellerIORequest" message="tns:AuthorizeTellerIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeTellerIOResponse" message="tns:AuthorizeTellerIOResponse"/>
    </operation>
    <operation name="CloseDEBranchRestFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CloseDEBranchRestFSRequest" message="tns:CloseDEBranchRestFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CloseDEBranchRestFSResponse" message="tns:CloseDEBranchRestFSResponse"/>
    </operation>
    <operation name="CloseDEBranchRestIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CloseDEBranchRestIORequest" message="tns:CloseDEBranchRestIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CloseDEBranchRestIOResponse" message="tns:CloseDEBranchRestIOResponse"/>
    </operation>
    <operation name="CloseMjrnlTemplateFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CloseMjrnlTemplateFSRequest" message="tns:CloseMjrnlTemplateFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CloseMjrnlTemplateFSResponse" message="tns:CloseMjrnlTemplateFSResponse"/>
    </operation>
    <operation name="CloseMjrnlTemplateIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CloseMjrnlTemplateIORequest" message="tns:CloseMjrnlTemplateIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CloseMjrnlTemplateIOResponse" message="tns:CloseMjrnlTemplateIOResponse"/>
    </operation>
    <operation name="CreateDEBranchRestFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateDEBranchRestFSRequest" message="tns:CreateDEBranchRestFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateDEBranchRestFSResponse" message="tns:CreateDEBranchRestFSResponse"/>
    </operation>
    <operation name="CreateDEBranchRestIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateDEBranchRestIORequest" message="tns:CreateDEBranchRestIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateDEBranchRestIOResponse" message="tns:CreateDEBranchRestIOResponse"/>
    </operation>
    <operation name="CreateDEMultiOffsetFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateDEMultiOffsetFSRequest" message="tns:CreateDEMultiOffsetFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateDEMultiOffsetFSResponse" message="tns:CreateDEMultiOffsetFSResponse"/>
    </operation>
    <operation name="CreateDEMultiOffsetIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateDEMultiOffsetIORequest" message="tns:CreateDEMultiOffsetIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateDEMultiOffsetIOResponse" message="tns:CreateDEMultiOffsetIOResponse"/>
    </operation>
    <operation name="CreateMjrnlTemplateFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateMjrnlTemplateFSRequest" message="tns:CreateMjrnlTemplateFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateMjrnlTemplateFSResponse" message="tns:CreateMjrnlTemplateFSResponse"/>
    </operation>
    <operation name="CreateMjrnlTemplateIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateMjrnlTemplateIORequest" message="tns:CreateMjrnlTemplateIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateMjrnlTemplateIOResponse" message="tns:CreateMjrnlTemplateIOResponse"/>
    </operation>
    <operation name="CreateMjrnlbookFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateMjrnlbookFSRequest" message="tns:CreateMjrnlbookFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateMjrnlbookFSResponse" message="tns:CreateMjrnlbookFSResponse"/>
    </operation>
    <operation name="CreateMjrnlbookIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateMjrnlbookIORequest" message="tns:CreateMjrnlbookIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateMjrnlbookIOResponse" message="tns:CreateMjrnlbookIOResponse"/>
    </operation>
    <operation name="CreateSingleJrnlFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateSingleJrnlFSRequest" message="tns:CreateSingleJrnlFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateSingleJrnlFSResponse" message="tns:CreateSingleJrnlFSResponse"/>
    </operation>
    <operation name="AuthorizeDEBatchBrowserFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeDEBatchBrowserFSRequest" message="tns:AuthorizeDEBatchBrowserFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeDEBatchBrowserFSResponse" message="tns:AuthorizeDEBatchBrowserFSResponse"/>
    </operation>
    <operation name="AuthorizeDEBatchBrowserIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeDEBatchBrowserIORequest" message="tns:AuthorizeDEBatchBrowserIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeDEBatchBrowserIOResponse" message="tns:AuthorizeDEBatchBrowserIOResponse"/>
    </operation>
    <operation name="AuthorizeDEBranchRestFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeDEBranchRestFSRequest" message="tns:AuthorizeDEBranchRestFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeDEBranchRestFSResponse" message="tns:AuthorizeDEBranchRestFSResponse"/>
    </operation>
    <operation name="AuthorizeDEBranchRestIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeDEBranchRestIORequest" message="tns:AuthorizeDEBranchRestIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeDEBranchRestIOResponse" message="tns:AuthorizeDEBranchRestIOResponse"/>
    </operation>
    <operation name="AuthorizeDEMultiOffsetFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeDEMultiOffsetFSRequest" message="tns:AuthorizeDEMultiOffsetFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeDEMultiOffsetFSResponse" message="tns:AuthorizeDEMultiOffsetFSResponse"/>
    </operation>
    <operation name="AuthorizeDEMultiOffsetIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeDEMultiOffsetIORequest" message="tns:AuthorizeDEMultiOffsetIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeDEMultiOffsetIOResponse" message="tns:AuthorizeDEMultiOffsetIOResponse"/>
    </operation>
    <operation name="AuthorizeMjrnlTemplateFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeMjrnlTemplateFSRequest" message="tns:AuthorizeMjrnlTemplateFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeMjrnlTemplateFSResponse" message="tns:AuthorizeMjrnlTemplateFSResponse"/>
    </operation>
    <operation name="AuthorizeMjrnlTemplateIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeMjrnlTemplateIORequest" message="tns:AuthorizeMjrnlTemplateIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeMjrnlTemplateIOResponse" message="tns:AuthorizeMjrnlTemplateIOResponse"/>
    </operation>
    <operation name="AuthorizeMjrnlbookFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeMjrnlbookFSRequest" message="tns:AuthorizeMjrnlbookFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeMjrnlbookFSResponse" message="tns:AuthorizeMjrnlbookFSResponse"/>
    </operation>
    <operation name="AuthorizeMjrnlbookIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeMjrnlbookIORequest" message="tns:AuthorizeMjrnlbookIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/AuthorizeMjrnlbookIOResponse" message="tns:AuthorizeMjrnlbookIOResponse"/>
    </operation>
    <operation name="MultiNewFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/MultiNewFSRequest" message="tns:MultiNewFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/MultiNewFSResponse" message="tns:MultiNewFSResponse"/>
    </operation>
    <operation name="MultiAuthorizeFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/MultiAuthorizeFSRequest" message="tns:MultiAuthorizeFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/MultiAuthorizeFSResponse" message="tns:MultiAuthorizeFSResponse"/>
    </operation>
    <operation name="MultiDeleteFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/MultiDeleteFSRequest" message="tns:MultiDeleteFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/MultiDeleteFSResponse" message="tns:MultiDeleteFSResponse"/>
    </operation>
    <operation name="DeleteTellerIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteTellerIORequest" message="tns:DeleteTellerIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteTellerIOResponse" message="tns:DeleteTellerIOResponse"/>
    </operation>
    <operation name="MultiAuthorizeIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/MultiAuthorizeIORequest" message="tns:MultiAuthorizeIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/MultiAuthorizeIOResponse" message="tns:MultiAuthorizeIOResponse"/>
    </operation>
    <operation name="MultiDeleteIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/MultiDeleteIORequest" message="tns:MultiDeleteIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/MultiDeleteIOResponse" message="tns:MultiDeleteIOResponse"/>
    </operation>
    <operation name="CreateTellerFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateTellerFSRequest" message="tns:CreateTellerFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateTellerFSResponse" message="tns:CreateTellerFSResponse"/>
    </operation>
    <operation name="DeleteTellerFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteTellerFSRequest" message="tns:DeleteTellerFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteTellerFSResponse" message="tns:DeleteTellerFSResponse"/>
    </operation>
    <operation name="BatchTotDeleteIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/BatchTotDeleteIORequest" message="tns:BatchTotDeleteIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/BatchTotDeleteIOResponse" message="tns:BatchTotDeleteIOResponse"/>
    </operation>
    <operation name="BatchAuthorizeIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/BatchAuthorizeIORequest" message="tns:BatchAuthorizeIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/BatchAuthorizeIOResponse" message="tns:BatchAuthorizeIOResponse"/>
    </operation>
    <operation name="CreateTellerIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateTellerIORequest" message="tns:CreateTellerIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateTellerIOResponse" message="tns:CreateTellerIOResponse"/>
    </operation>
    <operation name="QuerySingleJrnlIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/QuerySingleJrnlIORequest" message="tns:QuerySingleJrnlIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/QuerySingleJrnlIOResponse" message="tns:QuerySingleJrnlIOResponse"/>
    </operation>
    <operation name="QueryTellerIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/QueryTellerIORequest" message="tns:QueryTellerIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/QueryTellerIOResponse" message="tns:QueryTellerIOResponse"/>
    </operation>
    <operation name="ReopenDEBranchRestFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ReopenDEBranchRestFSRequest" message="tns:ReopenDEBranchRestFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ReopenDEBranchRestFSResponse" message="tns:ReopenDEBranchRestFSResponse"/>
    </operation>
    <operation name="ReopenDEBranchRestIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ReopenDEBranchRestIORequest" message="tns:ReopenDEBranchRestIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ReopenDEBranchRestIOResponse" message="tns:ReopenDEBranchRestIOResponse"/>
    </operation>
    <operation name="ReverseCommonReversalFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ReverseCommonReversalFSRequest" message="tns:ReverseCommonReversalFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ReverseCommonReversalFSResponse" message="tns:ReverseCommonReversalFSResponse"/>
    </operation>
    <operation name="ReverseCommonReversalIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ReverseCommonReversalIORequest" message="tns:ReverseCommonReversalIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ReverseCommonReversalIOResponse" message="tns:ReverseCommonReversalIOResponse"/>
    </operation>
    <operation name="ReverseTellerFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ReverseTellerFSRequest" message="tns:ReverseTellerFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ReverseTellerFSResponse" message="tns:ReverseTellerFSResponse"/>
    </operation>
    <operation name="ReverseTellerIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ReverseTellerIORequest" message="tns:ReverseTellerIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ReverseTellerIOResponse" message="tns:ReverseTellerIOResponse"/>
    </operation>
    <operation name="SingleAuthorizeFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/SingleAuthorizeFSRequest" message="tns:SingleAuthorizeFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/SingleAuthorizeFSResponse" message="tns:SingleAuthorizeFSResponse"/>
    </operation>
    <operation name="SingleAuthorizeIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/SingleAuthorizeIORequest" message="tns:SingleAuthorizeIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/SingleAuthorizeIOResponse" message="tns:SingleAuthorizeIOResponse"/>
    </operation>
    <operation name="SingleDeleteFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/SingleDeleteFSRequest" message="tns:SingleDeleteFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/SingleDeleteFSResponse" message="tns:SingleDeleteFSResponse"/>
    </operation>
    <operation name="SingleDeleteIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/SingleDeleteIORequest" message="tns:SingleDeleteIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/SingleDeleteIOResponse" message="tns:SingleDeleteIOResponse"/>
    </operation>
    <operation name="SingleNewFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/SingleNewFSRequest" message="tns:SingleNewFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/SingleNewFSResponse" message="tns:SingleNewFSResponse"/>
    </operation>
    <operation name="SingleNewIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/SingleNewIORequest" message="tns:SingleNewIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/SingleNewIOResponse" message="tns:SingleNewIOResponse"/>
    </operation>
    <operation name="CreateSingleJrnlIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateSingleJrnlIORequest" message="tns:CreateSingleJrnlIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/CreateSingleJrnlIOResponse" message="tns:CreateSingleJrnlIOResponse"/>
    </operation>
    <operation name="DeleteDEBatchBrowserFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteDEBatchBrowserFSRequest" message="tns:DeleteDEBatchBrowserFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteDEBatchBrowserFSResponse" message="tns:DeleteDEBatchBrowserFSResponse"/>
    </operation>
    <operation name="DeleteDEBatchBrowserIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteDEBatchBrowserIORequest" message="tns:DeleteDEBatchBrowserIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteDEBatchBrowserIOResponse" message="tns:DeleteDEBatchBrowserIOResponse"/>
    </operation>
    <operation name="DeleteDEBranchRestFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteDEBranchRestFSRequest" message="tns:DeleteDEBranchRestFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteDEBranchRestFSResponse" message="tns:DeleteDEBranchRestFSResponse"/>
    </operation>
    <operation name="DeleteDEBranchRestIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteDEBranchRestIORequest" message="tns:DeleteDEBranchRestIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteDEBranchRestIOResponse" message="tns:DeleteDEBranchRestIOResponse"/>
    </operation>
    <operation name="DeleteDEMultiOffsetFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteDEMultiOffsetFSRequest" message="tns:DeleteDEMultiOffsetFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteDEMultiOffsetFSResponse" message="tns:DeleteDEMultiOffsetFSResponse"/>
    </operation>
    <operation name="DeleteDEMultiOffsetIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteDEMultiOffsetIORequest" message="tns:DeleteDEMultiOffsetIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteDEMultiOffsetIOResponse" message="tns:DeleteDEMultiOffsetIOResponse"/>
    </operation>
    <operation name="DeleteMjrnlTemplateFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteMjrnlTemplateFSRequest" message="tns:DeleteMjrnlTemplateFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteMjrnlTemplateFSResponse" message="tns:DeleteMjrnlTemplateFSResponse"/>
    </operation>
    <operation name="DeleteMjrnlTemplateIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteMjrnlTemplateIORequest" message="tns:DeleteMjrnlTemplateIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteMjrnlTemplateIOResponse" message="tns:DeleteMjrnlTemplateIOResponse"/>
    </operation>
    <operation name="DeleteMjrnlbookFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteMjrnlbookFSRequest" message="tns:DeleteMjrnlbookFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteMjrnlbookFSResponse" message="tns:DeleteMjrnlbookFSResponse"/>
    </operation>
    <operation name="DeleteMjrnlbookIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteMjrnlbookIORequest" message="tns:DeleteMjrnlbookIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteMjrnlbookIOResponse" message="tns:DeleteMjrnlbookIOResponse"/>
    </operation>
    <operation name="DeleteSingleJrnlFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteSingleJrnlFSRequest" message="tns:DeleteSingleJrnlFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteSingleJrnlFSResponse" message="tns:DeleteSingleJrnlFSResponse"/>
    </operation>
    <operation name="DeleteSingleJrnlIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteSingleJrnlIORequest" message="tns:DeleteSingleJrnlIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/DeleteSingleJrnlIOResponse" message="tns:DeleteSingleJrnlIOResponse"/>
    </operation>
    <operation name="ModifyDEBranchRestFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ModifyDEBranchRestFSRequest" message="tns:ModifyDEBranchRestFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ModifyDEBranchRestFSResponse" message="tns:ModifyDEBranchRestFSResponse"/>
    </operation>
    <operation name="ModifyDEBranchRestIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ModifyDEBranchRestIORequest" message="tns:ModifyDEBranchRestIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ModifyDEBranchRestIOResponse" message="tns:ModifyDEBranchRestIOResponse"/>
    </operation>
    <operation name="ModifyMjrnlTemplateFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ModifyMjrnlTemplateFSRequest" message="tns:ModifyMjrnlTemplateFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ModifyMjrnlTemplateFSResponse" message="tns:ModifyMjrnlTemplateFSResponse"/>
    </operation>
    <operation name="ModifyMjrnlTemplateIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ModifyMjrnlTemplateIORequest" message="tns:ModifyMjrnlTemplateIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ModifyMjrnlTemplateIOResponse" message="tns:ModifyMjrnlTemplateIOResponse"/>
    </operation>
    <operation name="ModifyMjrnlbookFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ModifyMjrnlbookFSRequest" message="tns:ModifyMjrnlbookFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ModifyMjrnlbookFSResponse" message="tns:ModifyMjrnlbookFSResponse"/>
    </operation>
    <operation name="ModifyMjrnlbookIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ModifyMjrnlbookIORequest" message="tns:ModifyMjrnlbookIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/ModifyMjrnlbookIOResponse" message="tns:ModifyMjrnlbookIOResponse"/>
    </operation>
    <operation name="MultiNewIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/MultiNewIORequest" message="tns:MultiNewIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/MultiNewIOResponse" message="tns:MultiNewIOResponse"/>
    </operation>
    <operation name="QueryDEBatchBrowserIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/QueryDEBatchBrowserIORequest" message="tns:QueryDEBatchBrowserIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/QueryDEBatchBrowserIOResponse" message="tns:QueryDEBatchBrowserIOResponse"/>
    </operation>
    <operation name="QueryDEBranchRestIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/QueryDEBranchRestIORequest" message="tns:QueryDEBranchRestIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/QueryDEBranchRestIOResponse" message="tns:QueryDEBranchRestIOResponse"/>
    </operation>
    <operation name="QueryDEMultiOffsetIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/QueryDEMultiOffsetIORequest" message="tns:QueryDEMultiOffsetIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/QueryDEMultiOffsetIOResponse" message="tns:QueryDEMultiOffsetIOResponse"/>
    </operation>
    <operation name="QueryMjrnlTemplateIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/QueryMjrnlTemplateIORequest" message="tns:QueryMjrnlTemplateIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/QueryMjrnlTemplateIOResponse" message="tns:QueryMjrnlTemplateIOResponse"/>
    </operation>
    <operation name="QueryMjrnlbookIO">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/QueryMjrnlbookIORequest" message="tns:QueryMjrnlbookIO"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/QueryMjrnlbookIOResponse" message="tns:QueryMjrnlbookIOResponse"/>
    </operation>
    <operation name="BatchAuthorizeFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/BatchAuthorizeFSRequest" message="tns:BatchAuthorizeFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/BatchAuthorizeFSResponse" message="tns:BatchAuthorizeFSResponse"/>
    </operation>
    <operation name="BatchTotDeleteFS">
      <input wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/BatchTotDeleteFSRequest" message="tns:BatchTotDeleteFS"/>
      <output wsam:Action="http://FCUBSDEService.types.ws.gw.fcubs.ofss.com/FCUBSDEServiceSEI/BatchTotDeleteFSResponse" message="tns:BatchTotDeleteFSResponse"/>
    </operation>
  </portType>
  <binding name="FCUBSDEServiceSEIBinding" type="tns:FCUBSDEServiceSEI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="AuthorizeSingleJrnlFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AuthorizeSingleJrnlIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AuthorizeTellerFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AuthorizeTellerIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CloseDEBranchRestFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CloseDEBranchRestIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CloseMjrnlTemplateFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CloseMjrnlTemplateIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateDEBranchRestFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateDEBranchRestIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateDEMultiOffsetFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateDEMultiOffsetIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateMjrnlTemplateFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateMjrnlTemplateIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateMjrnlbookFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateMjrnlbookIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateSingleJrnlFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AuthorizeDEBatchBrowserFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AuthorizeDEBatchBrowserIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AuthorizeDEBranchRestFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AuthorizeDEBranchRestIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AuthorizeDEMultiOffsetFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AuthorizeDEMultiOffsetIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AuthorizeMjrnlTemplateFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AuthorizeMjrnlTemplateIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AuthorizeMjrnlbookFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AuthorizeMjrnlbookIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="MultiNewFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="MultiAuthorizeFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="MultiDeleteFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteTellerIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="MultiAuthorizeIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="MultiDeleteIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateTellerFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteTellerFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="BatchTotDeleteIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="BatchAuthorizeIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateTellerIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="QuerySingleJrnlIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="QueryTellerIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReopenDEBranchRestFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReopenDEBranchRestIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReverseCommonReversalFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReverseCommonReversalIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReverseTellerFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReverseTellerIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SingleAuthorizeFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SingleAuthorizeIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SingleDeleteFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SingleDeleteIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SingleNewFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SingleNewIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateSingleJrnlIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteDEBatchBrowserFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteDEBatchBrowserIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteDEBranchRestFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteDEBranchRestIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteDEMultiOffsetFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteDEMultiOffsetIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteMjrnlTemplateFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteMjrnlTemplateIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteMjrnlbookFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteMjrnlbookIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteSingleJrnlFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteSingleJrnlIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ModifyDEBranchRestFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ModifyDEBranchRestIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ModifyMjrnlTemplateFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ModifyMjrnlTemplateIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ModifyMjrnlbookFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ModifyMjrnlbookIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="MultiNewIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="QueryDEBatchBrowserIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="QueryDEBranchRestIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="QueryDEMultiOffsetIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="QueryMjrnlTemplateIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="QueryMjrnlbookIO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="BatchAuthorizeFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="BatchTotDeleteFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FCUBSDEService">
    <port name="FCUBSDEServiceSEI" binding="tns:FCUBSDEServiceSEIBinding">
      <soap:address location="http://192.168.98.72:7003/FCUBSDEService/FCUBSDEService"/>
    </port>
  </service>
</definitions>